@use 'variables' as *;

.wrapper{
    max-width: 1600px;
    width: 82.5%;
    margin: 0 auto;
}

button, .button{
    color: $secondaryColour;
    background-color: $quaternaryColour;
    text-decoration: none;
    padding: .5rem 1.25rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    // transition: 0.3s;
    // &:hover, &:focus{
    //     color: $secondaryColour;
    //     background-color: $primaryColour;
    // }
    &.loginBtn, &.lookingBtn, &.saveJobBtn{
        border: 1px solid $secondaryColour;
        background-color: unset;
        &.lookingBtn{
            border: 1px solid $quaternaryColour;
            color: $quaternaryColour
        }
    }
}

.saveJobBtn{
    padding: unset;
}

.prevNextBtn{
    border-radius: 50%;
    padding: .8rem 1rem;
    color: $primaryColour;
    background-color: unset;
    &:hover, &:focus{
        color: $secondaryColour;
        background-color: $quaternaryColour;
        font-size: 1rem;
    }
}

footer button{
        border-radius: 0.5rem;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section, footer{
    padding: 3rem 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select {
    padding: 0;
    margin: 0;
}

label{
    padding-bottom: .5rem;
}

input{
    border: none;
    &:hover, &:focus{
    border-bottom: 2px solid $quaternaryColour;
    }
}

select{
    border: none;
    background-color: unset;
    &:hover, &:focus{
        color: $quaternaryColour;
    }
}

.highlight{
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $quaternaryColour;
    }
}

.sectionHeading{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}