@use 'variables' as *;

footer{
    .upperFooter{
        padding: 3rem 0;
        background-color: $tertiaryColour;
        p{
            color: $secondaryColour;
        }
    }
    .flexContainer{
        display: flex;
        justify-content: space-between;
        .headingContainer{
            flex: .75;
        }
        .flexTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .flexBtnContainer{
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .mainFooter{
        .footerFlexContainer{
            padding: 3rem 0;
            display: flex;
            justify-content: space-between;
            ul li{
                padding-bottom: 0.5rem;
            }
            .newsletter {
                form{
                    display: flex;
                    gap: 1rem;
                    margin: 1rem 0;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: $lightGrey;
                }
                .note{
                    color: $grey;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .bottomFooter{
        display: flex;
        justify-content: space-between;
        .flexContainer{
            display: flex;
            gap: 1rem;
            font-weight: 600;
        }
        .socialIcons{
            display: flex;
            gap: 1rem;
        }
    }
}