@use 'variables' as *;
@use 'mediaQueries' as *;

footer{
    .upperFooter{
        padding: 3rem 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, .6) 0%, rgba(216,216,216,1) 60%);
        p{
            color: $secondaryColour;
        }
        .flexContainer{
            display: flex;
            justify-content: space-between;
            @include tablet{
                flex-direction: column;
                // gap: 1rem;
            }
            .headingContainer{
                flex: .85;
            }
            .flexTextContainer{
                flex: .5;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @include tablet{
                    gap: 1rem;
                }
                align-items: flex-start;
                .flexBtnContainer{
                    display: flex;
                    gap: .5rem;
                    @include tablet{
                        align-self: flex-end;
                    }
                }
            }
        }
    }

    .mainFooter{
        .footerFlexContainer{
            padding: 3rem 0;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            @include laptop{
                flex-direction: column;
            }
            @include largeMobile{
                padding: 2rem 0;
                flex-direction: column-reverse;
                gap: 1rem;
            }
            .footerMenu{
                display: flex;
                @include largeMobile{
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                }
                justify-content: space-between;
                flex-wrap: wrap;
                flex: 1;
                .logo{
                    @include tablet{
                        width: 100%;
                        padding-bottom: 1rem;
                    }
                    @include largeMobile{
                        width: unset;
                    }
                }
                .footerList{
                    @include tablet{
                        width: calc(100%/3 - 2%);
                        margin: 1%;
                    }
                    @include largeMobile{
                        width: unset;
                        text-align: center;
                    }
                    ul{
                        li{
                            padding-bottom: 0.5rem;
                            @include largeMobile{
                                padding-bottom: unset;
                            }
                        }
                    }
                }
            }
            .newsletter{
                align-self: flex-start;
                @include largeMobile{
                    width: 100%;
                }
                form{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin: 1rem 0;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: $lightGrey;
                    input{
                        border-bottom: unset;
                    }
                }
                .note{
                    color: $grey;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .bottomFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 2rem;
            p{
                order: 3;
            }
        }
        .flexContainer{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 600;
            @include tablet{
                width: 100%;
                justify-content: space-around;
            }
        }
        .socialIcons{
            display: flex;
            gap: 1rem;
        }
    }
}