@use 'variables' as *;
@use 'mediaQueries' as *;

header{
    background-color: $tertiaryColour;
    .heading{
        padding: 3rem 0;
        @include largeMobile{
            padding: 2rem 0;
        }
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .headerTextContainer{
            width: 60%;
            @include desktop{
                width: 70%;
            }
            @include tabletLandscape{
                width: 90%;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }
    p{
        color: $secondaryColour;
    }
}

.searchFormContainer{
    width: 70%;
    @include desktop{
        width: 90%;
    }
    // @include tablet{
    //     width: 70%;
    // }
    @include largeMobile{
        width: 100%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        @include laptop{
            flex-direction: column;
            gap: .5rem;
        }
        .flexContainer{
            border-radius: .5rem 0 0 .5rem;
            background-color: $secondaryColour;
            padding: 1rem 0;
            display: flex;
            flex: 2;
            @include laptop{
                justify-content: center;
                padding: .75rem 0;
                border-radius: .5rem;
            }
            @include tablet{
                flex-wrap: wrap;
                gap: 1rem;
            }
            .searchForm{
                padding: 0 2rem;
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                @include laptop{
                    width: 100%;
                    padding: 0 1rem;
                }
                @include largeMobile {
                    padding: 0 .5rem;
                }
                input{
                    @include tablet{
                        align-self: stretch;
                    }
                }
            }
            .category{
                padding-right: 1rem;
                border-left: 1px solid $grey;
                @include tablet{
                    border-left: unset;
                }
                align-items: unset;
                width: 100%;
                label{
                    align-self: flex-start;
                }
            }
        }
        button{
            border: none;
            border-radius: 0 .5rem .5rem 0;
            padding: 0.5rem 3rem;
            @include laptop{
                border-radius: .5rem;
                align-self: center;
            }
            @include tablet{
                align-self: unset;
            }
        }
    }
}

