@use 'variables' as *;

header{
    background-color: $tertiaryColour;
    .heading{
        padding: 3rem 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .headerTextContainer{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }
    p{
        color: $secondaryColour;
    }
}

.searchFormContainer{
    border-radius: .5rem;
    background-color: $secondaryColour;
    width: 70%;
    form{
        display: flex;
        flex-wrap: wrap;
        .flexContainer{
            padding: 1rem 0;
            display: flex;
            flex: 2;
            .searchForm{
                padding: 0 2rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .category{
                border-left: 1px solid $grey;
                align-items: unset;
                width: 100%;
                padding-right: 1rem;
                label{
                    align-self: flex-start;
                }
            }
        }
        button{
            border: none;
            border-radius: 0 .5rem .5rem 0;
            padding: 0.5rem 3rem;
        }
    }
}