@use 'variables' as *;

header{
    background-color: $tertiaryColour;
    .heading{
        padding: 3rem 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .headerTextContainer{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

form{
    display: flex;
}