@use 'variables' as *;

.partners{
    background-color: $lightGrey;
    padding: 1rem 0;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.categories{
    .categoryHeading{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 1.6rem;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .category{
            padding: .75rem 1.5rem;
            display: flex;
            align-items: center;
            gap: .75rem;
            border-radius: 2rem;
            background-color: #EAFBFD;
            p{
                font-size: 0.8rem;
            }
        }
        .category2{
            background-color: #FFFAEC;
        }
        .category3{
            background-color: #FFEBFB;
        }
        .category4{
            background-color: #E8F7E9;
        }
        .category5{
            background-color: #F7F5FF;
        }
        .category6{
            background-color: #FFF3EA;
        }
    }
}

.trending{
    .trendingHeading{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: calc((100%/4) - 3%);
            margin: 1.5%;
            position: relative;
        }
        p{
            color: $secondaryColour;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            bottom: 0;
            // width: 90%;
            padding: 1rem;
        }
    }
}