@use 'variables' as *;

.partners{
    background-color: $lightGrey;
    padding: 1rem 0;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.categories{
    .categoryHeading{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 1.6rem;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .category{
            padding: .75rem 1.5rem;
            display: flex;
            align-items: center;
            gap: .75rem;
            border-radius: 2rem;
            background-color: #EAFBFD;
            p{
                font-size: 0.8rem;
            }
        }
        .category2{
            background-color: #FFFAEC;
        }
        .category3{
            background-color: #FFEBFB;
        }
        .category4{
            background-color: #E8F7E9;
        }
        .category5{
            background-color: #F7F5FF;
        }
        .category6{
            background-color: #FFF3EA;
        }
    }
}

.trending{
    .trendingHeading{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: calc((100%/4) - 3%);
            margin: 1.5%;
            position: relative;
        }
        p{
            color: $secondaryColour;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            bottom: 0;
            // width: 90%;
            padding: 1rem;
        }
    }
}

.howItWorks{
    background-color: $grey;
    .flex{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .heading{
            padding-left: 30rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            h2{
                color: $secondaryColour;
                span{
                    color: $quaternaryColour;
                }
            }
            p{
                line-height: 1.8;
                color: $secondaryColour;
            }
        }
        .cards{
            ul{
                display: flex;
                li{
                    width: calc((100%/3) - 2%);
                    margin: 1%;
                    padding: 1rem;
                    background-color: $secondaryColour;
                    border-radius: .3rem;
                    .cardHeading{
                        padding-bottom: .25rem;
                        display: flex;
                        align-items: flex-start;
                        gap: 1rem;
                        img{
                            width: 3rem;
                        }
                        p{
                            line-height: 1.65;
                        }
                    }
                    a{
                        padding-left: 4rem;
                        color:$quaternaryColour;
                        text-decoration: none;
                        font-size: 0.6rem;
                    }
                }
            }
        } 
    }
}