@use 'variables' as *;

.jobHeading{
    background-color: $tertiaryColour;
    text-align: center;
}

.jobDetails{
    .jobInfo{
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        p, li{
            font-size: 0.85rem;
            line-height: 1.75;
        }
    }
}
