@use 'variables' as *;
@use 'mediaQueries' as *;

.jobList{
    @include largeMobile{
        width: 100%;
    }
}

.jobList{
    .jobListSort{
        padding: 0 0 2rem .25rem;
        @include largeMobile{
            padding: 0 0 1.5rem .25rem;
        }
        span{
            color: $grey;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include largeMobile{
            gap: unset;
        }
        li {
            padding: 1rem;
            border: 1px solid $tertiaryColour;
            border-radius: .5rem;
            @include largeMobile{
                padding: .5rem 1rem;
                border: unset;
                border-top: 1px solid $tertiaryColour;
                border-radius: unset;
            }
            transition: 0.3s;
            &:hover, &:focus{
                background-color: $lightGrey;
            }
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;
                @include tablet{
                    gap: 1rem;
                    align-items: unset;
                }
                .companyLogo {
                    @include tablet{
                        align-self: flex-start;
                    }
                    img {
                        max-width: 3rem;
                        @include largeMobile{
                            max-width: 2.5rem;
                        }
                    }
                }
                .jobCard{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    @include tablet{
                        flex-direction: column;
                        width: 100%;
                    }
                    h4{
                        width: 30%;
                        @include tablet {
                            width: 100%;
                        }
                    }
                    .flex{
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        gap: .75rem;
                        @include tablet {
                            width: 100%;
                            gap: unset;
                        }
                    }
                    .jobCardDetails .jobLocation{
                        color: rgb(32, 32, 32, 0.6);
                    }
                }
                .jobCardBtn{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: .75rem;
                    @include tablet {
                        flex-direction: column;
                        justify-content: space-between;
                        gap: unset;
                    }
                    .apply{
                        @include largeMobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .popup-background{
        position: absolute;
        top: 0;
        // bottom: 0;
        left: 0;
        width: 100vw;
        height: 290%;
        background-color: rgba(0, 0, 0, 0.6);
        // backdrop-filter: blur(10px);
        .popup-window{
            position: absolute;
            top: 60vh;
            right: 25vw;
            width: 50%;
            background-color: $secondaryColour;
            border: 1px solid $grey;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: center;
            padding: 1rem;
            @include largeMobile{
                padding: .25rem;
                gap: .25rem;
                text-align: center;
                width: 95%;
                right: 2.5%;
            }
            button{
                padding: .25rem .5rem;
                border-radius: 1rem;
            }
        }
    }
}