@use 'variables' as *;
@use 'mediaQueries' as *;

.jobHeading{
    background-color: $tertiaryColour;
    text-align: center;
}

.jobDetails{
    .jobInfo{
        padding: 0 3rem;
        @include tablet{
            padding: 0 1rem;
        }
        @include largeMobile{
            padding: 0 .5rem;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        p, li{
            font-size: clamp(.6rem, 3vw, 0.85rem);
            line-height: 1.75;
        }
    }
}
