@use 'variables' as *;
@use 'mediaQueries' as *;

.stickyNav{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 40;
}

.navBar{
    padding: 2rem 3rem;
    @include laptop{
        padding: 2rem 1rem 1rem 1rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktopNav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    @include tabletLandscape{
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .navButtons{
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        button{
            @include laptop{
                padding: .5rem;
            }
        }
    }
}

// MOBILE NAVIGATION

// 1. Hide the mobile navigation hamburger menu for desktop view

.hamButtonContainer {
    display: none;
    @include tabletLandscape{
        display: block;
    }
}

// 2. Hamburger button

.hamButton {
    background-color: transparent;
    border: transparent;
    border-radius: unset;
    padding: 0;
    &:hover, &:focus{
        border: transparent;
        background-color: transparent;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 2.25rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    z-index: 40;
    span,
    span::before,
    span::after {
        display: block;
        position: absolute;
        height: 3px;
        border-radius: .5rem;
        background-color: $secondaryColour;
        transition: all 300ms ease;
        width: 100%;
        top: 15px;
        left: 0;
    }

    span::before {
        content: '';
        top: -15px;
    }

    span::after {
        content: '';
        top: 15px;
    }
}

// 3. Animate hamburger button when clicked as mobile navigation opens
.hamButton.active {
    span::before {
        transform: rotate(-90deg) translate(-15px, 0px);
        width: 100%;
    }

    span {
        transform: rotate(45deg);
        width: 100%;
    }

    span::after {
        transform: rotate(90deg) translate(-15px, 0px);
        width: 100%;
    }
}

// 4. Make mobile nagivation menu slide out when hamburger button is clicked

.mobileNavContainer.open {
    transform: translateX(0%);
}

// 5. Style the mobile navigation menu 

.mobileNavContainer {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    // opacity: 0.95;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    .mobileNav{
        display: flex;
        flex-direction: column;
        align-items:center;
        .mobileNavLinks, .navButtons{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin-top: 30vh;
        }
        .navButtons{
            margin-top: 1rem;
            button{
                width: 100%;
            }
        }
    }
}
