@use 'variables' as *;

.navBar{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        font-size: 0.8rem;
    }
}

.desktopNav{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    ul{
        display: flex;
        gap: 1.2rem;
    }
}