@use "variables" as *;

@font-face {
    font-family: "gorditaRegular";
    src: url('../fonts/gordita/gorditaRegular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "gorditaMedium";
    src: url('../fonts/gordita/gorditaMedium.otf');
    font-weight: 500;
}

html {
    font-size: 125%;
}

body, button, input, select {
    font-family: $bodyFont;
    font-size: $baseFontSize;
    color: $primaryColour;
    background-color:unset;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

button{
    font-size: 0.8rem;
}

a{
    font-size: 0.8rem;
    color: $secondaryColour;
}

main a {
    color: $primaryColour;
    text-decoration: underline;
}

h1{
    font-family: $headingFont;
    font-size: 3.6rem;
    font-weight: normal;
    color: $secondaryColour;
}

h2{
    font-family: $headingFont;
    font-size: 3rem;
    font-weight: 400;
}

h3{
    font-family: $bodyFont;
    font-size: 1.2rem;
}

label{
    color: $grey;
    font-size: 0.8rem;
    
}

footer h2{
    color: $secondaryColour;
}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: $primaryColour;
}

.icon{
    font-size: 1rem;
}

.errorPage{ 
    h1{
        color: $quaternaryColour;
    }
    a{
        color: $secondaryColour;
        text-decoration: none;
    }
}