@use "variables" as *;

@font-face {
    font-family: "gorditaRegular";
    src: url('../fonts/gordita/gorditaRegular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "gorditaMedium";
    src: url('../fonts/gordita/gorditaMedium.otf');
    font-weight: 500;
}

html {
    font-size: 125%;
}

body, input, button {
    font-family: $bodyFont;
    font-size: $baseFontSize;
    color: $primaryColour;
    // background-color: $secondaryColour;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

a{
    font-size: 0.8rem;
    color: $secondaryColour;
}

h1{
    font-family: $headingFont;
    font-size: 3.6rem;
    font-weight: 500;
    color: $secondaryColour;
}

h2{
    font-family: $headingFont;
    font-size: 3rem;
    font-weight: 400;
}

footer p{
    font-size: 1.2rem;
}