// COLOURS:
$primaryColour: #002913;
$secondaryColour: #FFFFFF;
$tertiaryColour: #D9D9D9;
$quaternaryColour: #00D749;
// $quinaryColour: ;
$grey: #C4C4C4;
$lightGrey: #F7F7F7;

// FONTS:
$headingFont: 'gorditaMedium';
$bodyFont: 'gorditaRegular';
$baseFontSize: 1rem;
