// COLOURS:
$primaryColour: #002913;
$secondaryColour: #FFFFFF;
$tertiaryColour: #D9D9D9;
// $quaternaryColour:;
// $quinaryColour: ;

// FONTS:
$headingFont: 'gorditaMedium';
$bodyFont: 'gorditaRegular';
$baseFontSize: 1rem;
