// COLOURS:
$primaryColour: #002913;
$secondaryColour: #FFFFFF;
// $tertiaryColour: #DEE2E6;
// $quaternaryColour:;
// $quinaryColour: ;

// // Alternate colour palette
// $primaryColour: #252422;
// $secondaryColour: #403D39;
// $tertiaryColour: #CCC5B9;
// $quaternaryColour: #FFFCF2;

// FONTS:
// $headingFont: 'montserrat';
// $bodyFont: 'openSans';
$baseFontSize: 1rem;
